@import '../../../sass/app.scss';
.skill-component {
  padding: 10px !important;
  .skill-component-skill {
    // mask-image: url('../../assets/img/svg/skill-mask.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $astro-gray-200;
    color: #fff;
    position: relative;
    &:hover {
      background-color: $astro-orange-200;
      .skill-component-img {
        display: none !important;
      }
    }
    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    .skill-component-skill-icon {
      top: 17.5%;
      width: 42%;
      left: 0;
      right: 0;
      margin: 0 auto;
      &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .skill-component-skill-name {
      top: 80%;
      left: 0;
      right: 0;
      margin: 0 auto;
      color: white;
      transform: translateY(-50%);
    }
    .skill-component-img {
      background-size: cover;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: 50%;
    }
  }
  .skill-component-skill-slected {
    background-color: $astro-red-100;
  }
  .skill-component-plus {
    top: 0;
    right: 10px;
    color: $astro-red-300;
  }
  .bi-plus-circle-fill {
    &::before {
      background-color: $white;
      border-radius: 50%;
    }
  }
  .skill-component-row {
    &:hover ~ .skill-component-plus {
      opacity: 0;
    }
  }
}
