@import '../../../sass/app.scss';
.referral-container {
  .breadcrumb-referral-container {
    padding: 40px;
    height: 90px;
    font-size: 20px;
    .home-breadcrumb {
      margin-left: 10%;
      a {
        color: #ff8a33 !important;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .breadcrumb-referral {
      font-weight: 600;
      color: #818181;
    }
  }
}
.give-20 {
  background-color: #0096ec;
  padding: 100px 15px;
  .osmo-col {
    width: 75%;
    color: #fff;
    font-size: 18px;
    h1 {
      color: #fff !important;
    }
  }
}
.sign-up-now {
  .input-box {
    width: 100%;
  }
  p {
    font-family: Graphik Web, sans-serif, -apple-system, serif;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
  }
  .text-input {
    border-radius: 15px;
    background-color: $white;
  }

  a {
    color: $astro-orange-100;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline !important;
  }
  .form-check-input:checked {
    background-color: $astro-orange-100 !important;
    border-color: $astro-orange-100 !important;
    box-shadow: none !important;
  }
  .form-check-input {
    background-color: none !important;
    box-shadow: none !important;
  }
  .form-control:focus {
    background-color: #fff !important;
    border-color: $astro-orange-100 !important;
    box-shadow: none !important;
  }
}
.faq-referral {
  padding-bottom: 50px;
  .faq-title {
    color: #818181;
    font-size: 18px;
    font-weight: 600;
  }
  .questions {
    color: #818181;
    font-family: Graphik Web, sans-serif, -apple-system, serif;
    padding: 8px 0;
    border-top: 2px solid #e1e1e1;
  }
  .faq-content {
    color: #373737;
    overflow: hidden;
    font-size: 16px;
    transition: all 0.5s;
  }

  a {
    text-decoration: none;
    color: #337ab7;
    margin: 0 5px;
  }
  a:hover {
    text-decoration: underline;
  }
  .accordion-button:focus {
    border-color: #fff !important;
    box-shadow: none !important;
    color: #fff !important;
  }
}
