@import '../../../../sass/app.scss';

.SlideShow9 {
  .link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    &:hover {
      transition: 0.3s;
      color: #fe0000;
    }
  }
}
