.schools-container {
  .background-video {
    background-image: url('https://images.playosmo.com/schools/schools-hero.jpg?fit=crop&auto=format&fm=jpg&dpr=2&ixlib=react-9.3.0&w=1446&h=521');
    background-size: cover;
    background-repeat: no-repeat;
    height: 552px;
  }
  .section-schools {
    background-color: #0096ec;
    padding: 50px 0;
  }
  p {
    color: #fff;
    font-family: Graphik Web, sans-serif, -apple-system, serif;
    max-width: 650px;
    font-weight: 400;
  }
  .schools-number {
    background-size: auto 100%;
    background-image: url('https://images.playosmo.com/schools/eu/schools-count-tiles.svg?fit=crop&auto=format&fm=jpg&dpr=2&ixlib=react-9.3.0&w=181&h=35');
    vertical-align: baseline;
    display: inline-block;
    height: 32px;
    width: 163.5px;
    background-repeat: no-repeat;
    position: relative;
  }
  .button {
    width: 320px;
    height: 50px;
    background: #e1e1e1;
    .text {
      background: #fff;
      color: #0096ec;
      font-size: 24px;
    }
  }
  .school-h1 {
    color: #fff;
  }
  .hearta {
    font-size: 90px;
  }
  h1 {
    font-size: 75px;
    text-shadow: 0 0 12.5px rgb(0 0 0 / 30%);
    letter-spacing: normal;
    font-weight: 600;
  }
  .button-transform {
    background: 0 0;
    transform: scale(1.2);
    border: none;
  }
  .button-transform:hover {
    transform: scale(1.9);
  }
  .span-transform {
    background: rgba(0, 0, 0, 0.6);
    // background: rgba(0,0,0,.4);
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    transition: background-color 0.2s;
    width: 72px;
    height: 72px;
  }
  .span-transform::before {
    background-image: url(https://images.playosmo.com/homepage/2019/play-icon.svg);
    display: block;
    content: '';
    padding-bottom: 100%;
    border-radius: 50%;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
