@import '../../../sass/app.scss';

.astro-button {
  border-radius: 2rem;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  .text {
    display: block;
    padding: 0.25rem 1.35rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    transform: translateY(-6px);
    &__disable {
      transform: none !important;
    }
  }
  &__primary {
    background: $astro-orange-100;
    .text {
      background: $astro-orange-200;
      color: white;
    }
  }
  &__secondary {
    background: $astro-gray-200;
    .text {
      background: white;
      color: $astro-orange-400;
    }
  }
  &:active .text {
    transform: translateY(-2px);
  }
}
