@import '../../../../sass/app.scss';

@-webkit-keyframes animation-feature {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.feature-container {
  padding-top: 60px;
  position: relative;
  background-position: 50%;
  color: #373737;
  font-weight: 300;
  line-height: 1.55555556;
  font-size: 24px;
  height: 720px;
  .feature-carousel {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .feature-carousel-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: 0;
      .feature-game {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        z-index: 0;
        &-detective {
          background: url('https://www.playosmo.com/images/app/images/homepage/2019/featured/detective/tower-21ccdfe1d1e01425d55b.png')
              no-repeat 0 100% / auto 85%,
            url('https://www.playosmo.com/images/app/images/homepage/2019/featured/detective/tree-b0698b4ed2a1752169d9.png')
              no-repeat 100% 100% / auto 54%,
            url('https://www.playosmo.com/images/app/images/homepage/2019/featured/detective/detective-bg-2b094c5c2013d0f1a2df.jpg')
              #ab699d repeat 50% / auto 100%;
        }

        &-superStudio {
          background: url('https://www.playosmo.com/images/app/images/homepage/2019/featured/superstudio/curtain-left-894de71cdb2b535c8e23.png')
              no-repeat 0 / auto 100%,
            url('https://www.playosmo.com/images/app/images/homepage/2019/featured/superstudio/curtain-right-4d121b262dfc20104ea9.png')
              no-repeat 100% / auto 100%,
            url('https://www.playosmo.com/images/app/images/homepage/2019/featured/superstudio/superstudio-bg-c8eaea8b5eabf09c00b4.png')
              #30589f repeat 50% / auto 100%;
        }
        &-pizzaCo {
          background: url('https://images.playosmo.com/homepage/2019/featured/pizza-co/window2.png')
              no-repeat -26%/28% 25%,
            url('https://images.playosmo.com/homepage/2019/featured/pizza-co/window2.png') no-repeat
              126%/28% 25%,
            url('https://www.playosmo.com/images/app/images/homepage/2019/featured/pizza-co/pizza-co-bg-5877c38fba74e872c069.jpg')
              #f5dfb1 repeat top/auto 100%;
        }
      }
      .feature-container-data {
        height: 100% !important;
        max-width: 1140px;
        &::before {
          content: ' ';
          display: table;
        }
        .feature-container-inner {
          height: 100%;
          position: relative;
          .feature-character-holder {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            animation-duration: 2s;
            -webkit-animation: animation-feature 0.26666667s both;
            animation: animation-feature 0.26666667s both;
            -webkit-animation-delay: 0.31666666667s;
            animation-delay: 0.31666666667s;
            .feature-img {
              &-detective {
                position: relative;
                max-width: 208px;
                width: 18.15789474%;
                margin: 0 0 0 auto;
                &::before {
                  content: '';
                  display: block;
                  padding-bottom: 87.5%;
                }
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  pointer-events: none;
                  top: 0;
                  right: -41.34615385%;
                  bottom: -39.01098901%;
                  left: 41.34615385%;
                  background-image: url('https://images.playosmo.com/homepage/2019/featured/detective/detective-character@2x.png');
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  background-position: 50%;
                }
              }
              &-superStudio {
                position: relative;
                max-width: 223px;
                width: 19.56140351%;
                margin: 0 0 0 auto;
                &::before {
                  content: '';
                  display: block;
                  padding-bottom: 92.37668161%;
                }
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  pointer-events: none;
                  top: 0;
                  right: -17.93721973%;
                  bottom: -22.33009709%;
                  left: 17.93721973%;
                  background-image: url('https://images.playosmo.com/homepage/2019/featured/superstudio/super-studio-model@2x.png');
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  background-position: 50%;
                }
              }
              &-pizzaCo {
                position: relative;
                max-width: 230px;
                width: 20.0877193%;
                margin: 0 0 0 auto;
                &::before {
                  content: '';
                  display: block;
                  padding-bottom: 106.52173913%;
                }
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  pointer-events: none;
                  top: 0;
                  right: -25.2173913%;
                  bottom: -34.28571429%;
                  left: 25.2173913%;
                  background-image: url('https://images.playosmo.com/homepage/2019/featured/pizza-co/uncle-tony-thumbs-up@2x.png');
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  background-position: 50%;
                }
              }
            }
          }
          .feature-title-holder {
            position: absolute;
            top: 20%;
            transform: translateY(-50%);
            right: 0;
            left: 0;
          }
          .feature-main {
            position: absolute;
            top: 56%;
            right: 0;
            left: 0;
            transform: translateY(-50%);
            .feature-grid {
              padding: 0.015625px 0;
              .feature-middle {
                max-width: 960px;
                margin: auto;
                .feature-title {
                  max-width: 400px;
                  margin: 0 auto;
                  .feature-lazyload-wraper {
                    height: 100%;
                  }
                }
              }
            }
            .feature-product-detective {
              position: relative;
              max-width: 404px;
              margin: auto;
              &::before {
                content: '';
                display: block;
                padding-bottom: 95.04950495%;
              }
              &::after {
                content: '';
                display: block;
                position: absolute;
                pointer-events: none;
                top: -3.64583333%;
                right: -7.17821782%;
                bottom: -3.64583333%;
                left: -5.94059406%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: 50%;
                background-image: url('https://images.playosmo.com/homepage/2019/featured/detective/detective-agency-3-4-product-v-2-copy@2x.png');
              }
            }
            .feature-product-superStudio {
              position: relative;
              max-width: 571px;
              margin: auto;
              &::before {
                content: '';
                display: block;
                padding-bottom: 57.79334501%;
              }
              &::after {
                content: '';
                display: block;
                position: absolute;
                pointer-events: none;
                top: -11.21212121%;
                right: 0;
                bottom: -128.78787879%;
                left: 0;
                background-image: url('https://images.playosmo.com/homepage/2019/featured/superstudio/superstudio-table-ext.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: 50%;
              }
            }
            .feature-product-pizzaCo {
              position: relative;
              max-width: 499px;
              margin: auto;
              &::before {
                content: '';
                display: block;
                padding-bottom: 75.5511022%;
              }
              &::after {
                content: '';
                display: block;
                position: absolute;
                pointer-events: none;
                top: 0;
                right: -3.60721443%;
                bottom: -79.57559682%;
                left: -1.00200401%;
                background-image: url('https://images.playosmo.com/homepage/2019/featured/pizza-co/pizza-table-ext.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: 50%;
              }
            }
            .feature-container-action {
              padding-top: 1.4rem;
            }
            .feature-button {
              margin-top: 1.4rem;
            }
          }
        }
        &::after {
          clear: both;
          content: ' ';
          display: table;
        }
      }
    }
  }
  p {
    font-weight: bold;
  }
}
