@import '../../../../sass/app.scss';

.home-LearningThroughPlay {
  .LearningThroughPlay-container {
    mask-image: none !important;
  }
  .LearningThroughPlay-blackground {
    background-color: $white;
  }
  .LearningThroughPlay-title {
    & > h2 {
      color: $astro-red-100 !important;
    }
  }
}
