@import '../../../../sass/app.scss';

.new-to-astro {
  height: 698px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .new-to-astro {
    display: flex !important;
    flex-direction: column;
    max-width: 585px;
    text-align: center;
  }
  .kits {
    display: block !important;
    height: 300px;
    width: 100% !important;
    width: max-content;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 550px;
    margin: 0 auto;
  }
  h1 {
    color: #ea3729 !important;
    font-family: sans-serif, serif;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.27272727;
  }
  p {
    font-family: sans-serif, serif;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: $font-weight-light;
    line-height: 28px;
  }
  .btn-new {
    margin-top: 25px;
  }
}
