.home-people {
  z-index: -10;
  background-color: #18bbed;
  width: 100%;
  height: 1236.83px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .home-container {
    position: relative;
    z-index: 0;
    height: 373.6px;
    text-align: center;
    .home-row {
      margin-top: 250px;
      width: 100%;
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .picture {
      margin-top: 50px;
      height: 279px;
      width: 100%;
      background-image: url('../../../../../public/images/awards-bg.png');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .home-footer {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none !important;
    width: 100%;
    height: 380px;
    margin: 0 !important;
    background: url(https://images.playosmo.com/homepage/2019/awards/kelp-left.svg) no-repeat 2%
        bottom/9.58% auto,
      url(https://images.playosmo.com/homepage/2019/awards/kelp-right.svg) no-repeat 98%
        bottom/17.78% auto,
      #026bd7;
    .home-row {
      max-width: 1000px;
      width: 100%;
    }
    .home-col-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1000px;
      width: 100%;
    }
    .title-amazon {
      width: 100%;
      font-size: 44px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .group-start {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 240px;
      height: 40px;
      position: relative;
      &::before {
        position: relative;
        content: '';
        display: block;
        padding-bottom: 16.66666667%;
      }
      .start {
        width: 40px;
        height: 40px;
        position: absolute;
      }
      .start::before {
        content: '';
        width: 40px;
        height: 40px;
        background-image: url('https://images.playosmo.com/homepage/2019/awards/star-blue-80.svg');
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 100%;
      }
      .start::after {
        content: '';
        background-image: url('https://images.playosmo.com/homepage/2019/awards/star-yellow.svg');
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto 100%;
        background-position: 100%;
      }
    }
    .home-amazon {
      margin: 24px 0 0 10px;
      display: inline-block;
      text-align: center;
      height: 44px;
      max-width: 131px;
      width: 100%;
      background-image: url(https://images.playosmo.com/homepage/2019/awards/logo-amazon.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
.wave {
  position: absolute;
  height: 226px;
  width: 100%;
  background-image: url(https://images.playosmo.com/homepage/2019/awards/water-line-deep.svg);
  top: -130px;
  z-index: 0;
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: repeat-x;
  pointer-events: none;
}
.wave-container {
  position: relative;
  width: 100%;
}
.home-stripe2019-awards-img-water-line[data-line='surface'] {
  left: auto;
  width: 200vw;
  right: -100vw;
  transform: rotate(90deg) translateY(275%) rotate(-90deg);
}
.home-stripe2019-awards-img-water-line[data-line='surface'] {
  background-image: url(https://images.playosmo.com/homepage/2019/awards/water-line-surface.svg);
  height: 207px;
  top: -83px;
}
.home-stripe2019-awards-img-water-line {
  position: absolute;
  left: 0;
  right: 0;
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: repeat-x;
  pointer-events: none;
}
.home-stripe2019-awards-img-water-line[data-line='surface'] > .home-stripe2019-awards-boat-holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  margin: 0 auto;
  transform: rotate(90deg) translateY(-275%) rotate(-90deg);
}
.we-have {
  margin: 10px 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.osmo-is {
  color: white;
  font-size: 18px;
  line-height: 28px;
}
