.school-astro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 551px;
  background: url('../../../../../public/images/dt-schools-bg-copy@2x-c410274346d62c2cc371.png')
      no-repeat 100% 100% / auto 37.322%,
    url('../../../../../public/images/book.svg') no-repeat 0 100% / auto 93%, #ea3729;
  .astro-container {
    background-color: #ea3729;
    margin: 0 !important;
    max-width: none;
  }
  .title-school {
    padding-right: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::selection p {
      background: #ff920a !important;
    }
  }
}
h1 {
  display: flex;
  color: white !important;
  font-family: Mikado, sans-serif, -apple-system, serif;
  letter-spacing: normal;
  font-weight: 600 !important;
  font-size: 44px;
  line-height: 56px;
  .heart {
    height: 50px;
    width: 43px;
    margin: 0 8px;
    pointer-events: none;
    background-image: url('../../../../../public/images/heart.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100%;
  }
}
.p {
  color: white !important;
  font-family: Graphik Web, sans-serif, -apple-system, serif;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-size-adjust: 100%;
}
.btn-5 {
  background: #e1e1e1;
  font-weight: 600;
  width: 260px;
  & > span {
    color: #ea3729 !important;
    background: #fff !important;
  }
}
