@import '../../../../sass/app.scss';
.transforming-container {
  background-size: 100% 89px;
  text-align: center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='89' preserveAspectRatio='none'%3E%3Cpath fill='%23FFC934' fill-rule='evenodd' d='M1440 89H0V57.078C172.97 22.582 431.34.68 720 .68s547.02 21.902 720 56.398V89z'/%3E%3C/svg%3E");
  background-position-x: center;
  background-position-y: 101%;
  background-repeat: no-repeat;
  padding-bottom: 0;
  position: relative;
  color: #373737;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55555556;
  padding-top: 120px;
  .transforming-detail-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    &::before {
      content: ' ';
      display: table;
    }
    &::after {
      content: ' ';
      display: table;
    }
    .transforming-detail-top {
      h2 {
        color: $astro-red-100 !important;
      }
    }
    .transforming-wellcome {
      margin-top: 1.38888889em;
      .transforming-row {
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 30px;
        .transforming-content-item-detail {
          position: absolute;
          top: -25px;
          h3,
          p {
            color: $white !important;
            font-weight: 500;
          }
        }
        .transforming-content-item-btn {
          position: absolute;
          bottom: -30px;
        }
      }
      .transforming-img {
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        .transforming-img-characters-middle {
          position: relative;
          pointer-events: none;
          z-index: 1;
          &::before {
            content: '';
            display: block;
            padding-bottom: 81.93832599%;
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            pointer-events: none;
            top: -11.1827957%;
            right: -15.33039648%;
            bottom: -0.86021505%;
            left: -13.48017621%;
            background-image: url('https://images.playosmo.com/homepage/2019/welcome/character-group@2x.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }
      }
    }
  }
  .skill-component-skill {
    &:hover {
      background-color: $astro-red-100;
    }
  }
}
