.code-input {
  .code-input-box {
    .input-numbers {
      width: 55px;
      height: 55px;
      border-radius: 15px;
      border: solid 1px #c9c9c9;
      .input-numbers:focus {
        box-shadow: none !important;
        border: #ff920a !important;
      }
    }
  }
}
.invalid-feedback-number {
  display: block !important;
  height: 50px !important;
}
